# 1. Ask an interesting question

1. Delay binary classifier (yes/no, >15 min)
- Better isolate the key features to predict delays so that airlines focus their efforts on their weakest points
- Account for uncontrollable variables (e.g. unpredicted adverse weather) and prepare to act consequently
2. Additional questions:
- When is the best time of day/day of week/time of year to fly to minimize delays?
- Do older planes suffer more delays?
- How does the number of people flying between different locations change over time?
- How well does weather predict plane delays?
- Can you detect cascading failures as delays in one airport create delays in others? Are there critical links in the system?

___

# 2. Get the data

### On-Time : Reporting Carrier On-Time Performance (1987-present)

Source: https://www.transtats.bts.gov/DatabaseInfo.asp?DB_ID=120&DB_URL=Mode_ID=1&Mode_Desc=Aviation&Subject_ID2=0

<em>Note</em>: Over time both the code and the name of a carrier may change and the same code or name may be assumed by a different airline. To ensure that you are analyzing data from the same airline, TranStats provides four airline-specific variables that identify one and only one carrier or its entity: Airline ID (AirlineID), Unique Carrier Code (UniqueCarrier), Unique Carrier Name (UniqueCarrierName), and Unique Entity (UniqCarrierEntity). A unique airline (carrier) is defined as one holding and reporting under the same DOT certificate regardless of its Code, Name, or holding company/corporation. US Airways and America West started to report combined on-time data in January 2006 and combined traffic and financial data in October 2007 following their 2005 merger announcement. Delta and Northwest began reporting jointly in January 2010 following their 2008 merger announcement. Continental Micronesia was combined into Continental Airlines in December 2010 and joint reporting began in January 2011. Atlantic Southeast and ExpressJet began reporting jointly in January 2012. United and Continental began reporting jointly in January 2012 following their 2010 merger announcement. Endeavor (9E) operated as Pinnacle prior to August 2013. Envoy (MQ) operated as American Eagle prior to April 2014. Southwest (WN) and AirTran (FL) began reporting jointly in January 2015 following their 2011 merger announcement. American (AA) and US Airways (US) began reporting jointly as AA in July 2015 following their 2013 merger announcement. Alaska (AS) and Virgin America (VX) began reporting jointly as AS in April 2018 following their 2016 merger announcement.

        
- **AC_Types**:
    - **Summary**:
        - Reporting Carrier On-Time Performance (1987-present)
    - **Description**:
        - Reporting carriers are required to (or voluntarily) report on-time data for flights they operate: on-time arrival and departure data for non-stop domestic flights by month and year, by carrier and by origin and destination airport. Includes scheduled and actual departure and arrival times, canceled and diverted flights, taxi-out and taxi-in times, causes of delay and cancellation, air time, and non-stop distance. Use Download for individual flight data.
    - **File**:
        - YYMM_123456789_T_ONTIME_REPORTING.zip *(YY = Year ; MM = Month)*

In [1]:
# Import libraries to be used

# Warning messages display
## import warnings
## warnings.filterwarnings(action='ignore') # https://docs.python.org/3/library/warnings.html#the-warnings-filter

# Directories/Files management
import os.path
## from zipfile import ZipFile # De momento no ha hecho falta 

# Timing
import time

# Memory monitoring
%load_ext memory_profiler
### Use '%memit' to check at each point

# Data analysis and wrangling
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # Show all columns in DataFrames
## pd.set_option('display.max_rows', None) # It greatly slows down the output display and freezes the kernel

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('ggplot') # choose a style: 'plt.style.available'
sns.set_theme(context='notebook',
              style="darkgrid") # {darkgrid, whitegrid, dark, white, ticks}
palette = sns.color_palette("flare", as_cmap=True);
import altair as alt

# Machine Learning
## from sklearn.[...] import ...

In [2]:
t0 = time.perf_counter()

In [3]:
# Detect Operating System running and manage paths accordingly

if os.name == 'nt': # Windows
    root = r"C:\Users\turge\CompartidoVM\0.TFM"
    print("Running on Windows.")
elif os.name == 'posix': # Ubuntu
    root = "/home/dsc/shared/0.TFM"
    print("Running on Ubuntu.")
print("root path\t", root)

Running on Windows.
root path	 C:\Users\turge\CompartidoVM\0.TFM

___

### SAMPLE FILE

Single file import (i.e. month-sized database)

csv_path = os.path.join(root,
                        "Raw_Data",
                        "US_DoT",
                        "ONTIME_REPORTING",
                        "1901_921771952_T_ONTIME_REPORTING.zip")
csv_path

Considering that each file is considerably big, and that later on many of them will have to be grouped, a first exploration will be done considering the first 10,000 rows.

# Since 'pd.read_csv' works fine with zipped csv files, we can proceed directly:
cols = pd.read_csv(csv_path, nrows=1).columns # After normally importing it, an undesired extra blank column is loaded
df_0 = pd.read_csv(csv_path,
                  encoding='latin1',
                  nrows=10000,
                  usecols=cols[:-1], # This way, the extra column is disregarded for the loading process
                  low_memory = False)
df_0.sample(5)

cols = list(df_0.columns)
cols

Let's see which columns will remain, and skip the rest.

___

### MULTIPLE FILE

Let's proceed with multiple-file importing, through concatenation into a single DataFrame.

___

#### Run only the first time to read the 12 month individual files and generate the global file (entire year 2019)

##### 1. Read individual month files

directory_in_str = os.path.join(root,
                                "Raw_Data",
                                "US_DoT",
                                "ONTIME_REPORTING")
directory_in_str

# List the files' paths corresponding to each month of year 2019

file_list = []
try:
    os.listdir(directory_in_str)
except FileNotFoundError:
    print("The system cannot find the specified path:\n" + directory_in_str + "\nPlease check the path has been properly set.")
else:
    for file in os.listdir(directory_in_str):
        if file.endswith(".zip") and file.startswith("19"):
            file_list.append(os.path.join(directory_in_str, file))
            continue
        else:
            continue
file_list

%%time

# Create a DataFrame from the 12 month-files corresponding to the year 2019

cols = pd.read_csv(csv_path, nrows=1).columns # After normally importing it, an undesired extra blank column is loaded

df = pd.DataFrame()
for i, csv_path in enumerate(file_list):
    if i == 13: # Fail-safe: in case the list captured more than 12 files
        break
    df_month = pd.read_csv(csv_path,
                           encoding='latin1',
                           nrows=1e6, # Fail-safe: in case the file is inadvertently too big
                           usecols=cols[:-1], # This way, the extra column is disregarded for the loading process
                           low_memory = False) # This will prevent from auto-dtypes
    df = df.append(df_month)
df.sample(5)

##### 2. Generate file (2019)

output_csv_path = os.path.join(root,
                               "Output_Data",
                               "US_DoT",
                               "AL_OTP_MVP_Preprocessed_19_v1.csv")
output_csv_path

%%time

df.to_csv(path_or_buf=output_csv_path,
          index=False,
          encoding='latin1')

___

In [4]:
%memit

peak memory: 134.86 MiB, increment: 0.23 MiB

In [5]:
csv_path = os.path.join(root,
                        "Output_Data",
                        "US_DoT",
                        "AL_OTP_MVP_Preprocessed_19_v1.csv")
csv_path

'C:\\Users\\turge\\CompartidoVM\\0.TFM\\Output_Data\\US_DoT\\AL_OTP_MVP_Preprocessed_19_v1.csv'

In [6]:
cols = [
    
### -----  < X > (PRE-FLIGHT DATA) -----

# Time Period
#  'YEAR', # Disregarded: for the time being, analysis limted to 2019
#  'QUARTER', # Disregarded: redundant
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
#  'FL_DATE', # Disregarded: redundant
# Airline / Aircraft
 'OP_UNIQUE_CARRIER',
#  'OP_CARRIER_AIRLINE_ID', # Disregarded: redundant
#  'OP_CARRIER', # Disregarded: redundant
 'TAIL_NUM',
#  'OP_CARRIER_FL_NUM', # Unknown in advance?
# Origin
#  'ORIGIN_AIRPORT_ID', # Disregarded: redundant
#  'ORIGIN_AIRPORT_SEQ_ID', # Disregarded: redundant
 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN',
#  'ORIGIN_CITY_NAME', # Disregarded: redundant
#  'ORIGIN_STATE_ABR', # Disregarded: redundant
#  'ORIGIN_STATE_FIPS', # Federal Information Processing Standards # Not used for the moment
#  'ORIGIN_STATE_NM', # Disregarded: redundant
#  'ORIGIN_WAC', # World Area Code # Not used for the moment
# Destination
#  'DEST_AIRPORT_ID', # Disregarded: redundant
#  'DEST_AIRPORT_SEQ_ID', # Disregarded: redundant
 'DEST_CITY_MARKET_ID',
 'DEST',
#  'DEST_CITY_NAME', # Disregarded: redundant
#  'DEST_STATE_ABR', # Disregarded: redundant
#  'DEST_STATE_FIPS', # Federal Information Processing Standards # Not used for the moment
#  'DEST_STATE_NM', # Disregarded: redundant
#  'DEST_WAC', # World Area Code # Not used for the moment
# Departure Performance
 'CRS_DEP_TIME',
#  'TAXI_OUT_median', #  Output / However, the median for each airport could be used as input !! (explanation below)   
# Arrival Performance
 'CRS_ARR_TIME',
#  'TAXI_IN_median', #  Output / However, the median for each airport could be used as input !! (explanation below) 
# Flight Summaries
 'CRS_ELAPSED_TIME',
 'FLIGHTS',
 'DISTANCE',
 'DISTANCE_GROUP',

### ----- < y > (PRE-FLIGHT DATA) -----

# Departure Performance
 'DEP_TIME', # Disregarded: redundant
 'DEP_DELAY', # Disregarded: other potentially useful target
#  'DEP_DELAY_NEW', # Disregarded: redundant
 'DEP_DEL15', # Disregarded: other potentially useful target
 'DEP_DELAY_GROUP', # Disregarded: not relevant for this particular analysis
#  'DEP_TIME_BLK', # Disregarded: redundant
 'TAXI_OUT', #  Output / However, the median for each airport could be used as input !! (explanation below)
#  'WHEELS_OFF', # Disregarded: redundant
# Arrival Performance
#  'WHEELS_ON', # Disregarded: redundant
 'TAXI_IN', #  Output / However, the median for each airport could be used as input !! (explanation below)
 'ARR_TIME', # Disregarded: redundant
 'ARR_DELAY', # -------------------------------------------> MAIN TARGET !! (i.e. < y >)
#  'ARR_DELAY_NEW', # Disregarded: redundant
 'ARR_DEL15', # Disregarded: other potentially useful target
 'ARR_DELAY_GROUP', # Disregarded: not relevant for this particular analysis
#  'ARR_TIME_BLK', # Disregarded: redundant
# Cancellations and Diversions
 'CANCELLED', # Disregarded: not relevant for this particular analysis
#  'CANCELLATION_CODE', # Disregarded: not relevant for this particular analysis
#  'DIVERTED', # Disregarded: not relevant for this particular analysis
# Flight Summaries
#  'ACTUAL_ELAPSED_TIME', # Disregarded: redundant
#  'AIR_TIME', # Disregarded: redundant
# Cause of Delay
 'CARRIER_DELAY', # Disregarded: other potentially useful target
 'WEATHER_DELAY', # Disregarded: other potentially useful target
 'NAS_DELAY', # Disregarded: other potentially useful target
 'SECURITY_DELAY', # Disregarded: other potentially useful target
 'LATE_AIRCRAFT_DELAY', # Disregarded: other potentially useful target
# Gate Return Information at Origin Airport (Data starts 10/2008)
#  'FIRST_DEP_TIME', # Disregarded: not relevant for this particular analysis
#  'TOTAL_ADD_GTIME', # Disregarded: not relevant for this particular analysis
#  'LONGEST_ADD_GTIME', # Disregarded: not relevant for this particular analysis
# Diverted Airport Information (Data starts 10/2008)
#  'DIV_AIRPORT_LANDINGS', # Disregarded: not relevant for this particular analysis
]

In [7]:
%%time

# Chunk-loading procedure is required so as to prevent memory-saturation errors from appearing:

# cols = pd.read_csv(csv_path, nrows=1).columns

chunks_list = []
chunks = pd.read_csv(csv_path,
                     encoding='latin1',
#                      nrows=1e6, # Fail-safe: in case the file is inadvertently too big
                     chunksize=1e6,
                     usecols=cols[:],
                     low_memory = False)

for i, chunk in enumerate(chunks):
    if i == 13: # Fail-safe: for debugging purposes only
        break
    chunks_list.append(chunk)

    
df = pd.concat(chunks_list, axis=0)
del chunks_list

df.sample(5)

Wall time: 1min 11s

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,DEP_DELAY_GROUP,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,ARR_DELAY_GROUP,CANCELLED,CRS_ELAPSED_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3603185,6,28,5,9E,N147PQ,30647,CLE,31650,MSP,1620,1612.0,-8.0,0.0,-1.0,11.0,4.0,1723,1659.0,-24.0,0.0,-2.0,0.0,123.0,1.0,622.0,3,NaN,NaN,NaN,NaN,NaN
975557,2,26,2,UA,N73445,32467,MIA,32457,SFO,1828,2037.0,129.0,1.0,8.0,26.0,14.0,2200,17.0,137.0,1.0,9.0,0.0,392.0,1.0,2585.0,11,0.0,0.0,116.0,0.0,21.0
2766942,5,23,4,MQ,N611AE,30977,ORD,30693,BNA,955,953.0,-2.0,0.0,-1.0,13.0,9.0,1126,1114.0,-12.0,0.0,-1.0,0.0,91.0,1.0,409.0,2,NaN,NaN,NaN,NaN,NaN
2204997,4,1,1,YX,N124HQ,30852,DCA,30397,ATL,2000,2014.0,14.0,0.0,0.0,20.0,19.0,2203,2220.0,17.0,1.0,1.0,0.0,123.0,1.0,547.0,3,0.0,0.0,3.0,0.0,14.0
427482,1,7,1,DL,N915AT,32575,LAX,30559,SEA,759,755.0,-4.0,0.0,-1.0,21.0,14.0,1100,1059.0,-1.0,0.0,-1.0,0.0,181.0,1.0,954.0,4,NaN,NaN,NaN,NaN,NaN

In [8]:
# For On-Time flights, the "..._DELAY" columns show NaN.
# Actually each of them could be any number provided that the sum of them is less than 15 minutes.
# However, for data consistency, let's replace them by 0:
causes = ['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']
df[causes] = df[causes].fillna(value=0)
df

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,DEP_DELAY_GROUP,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,ARR_DELAY_GROUP,CANCELLED,CRS_ELAPSED_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,3,4,9E,N195PQ,35412,TYS,30397,ATL,1140,1205.0,25.0,1.0,1.0,30.0,4.0,1250,1315.0,25.0,1.0,1.0,0.0,70.0,1.0,152.0,1,0.0,0.0,0.0,0.0,25.0
1,1,4,5,9E,N919XJ,35412,TYS,30397,ATL,1140,1250.0,70.0,1.0,4.0,35.0,9.0,1250,1412.0,82.0,1.0,5.0,0.0,70.0,1.0,152.0,1,0.0,0.0,12.0,0.0,70.0
2,1,5,6,9E,N316PQ,30397,ATL,34783,SGF,950,956.0,6.0,0.0,0.0,20.0,3.0,1051,1043.0,-8.0,0.0,-1.0,0.0,121.0,1.0,563.0,3,0.0,0.0,0.0,0.0,0.0
3,1,6,7,9E,N325PQ,30397,ATL,34783,SGF,950,945.0,-5.0,0.0,-1.0,16.0,3.0,1053,1029.0,-24.0,0.0,-2.0,0.0,123.0,1.0,563.0,3,0.0,0.0,0.0,0.0,0.0
4,1,7,1,9E,N904XJ,30397,ATL,34783,SGF,950,947.0,-3.0,0.0,-1.0,25.0,4.0,1053,1044.0,-9.0,0.0,-1.0,0.0,123.0,1.0,563.0,3,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7422032,12,31,2,B6,N193JB,31454,MCO,31703,SWF,1356,1500.0,64.0,1.0,4.0,20.0,5.0,1639,1731.0,52.0,1.0,3.0,0.0,163.0,1.0,989.0,4,52.0,0.0,0.0,0.0,0.0
7422033,12,31,2,B6,N304JB,30852,DCA,30721,BOS,1420,1414.0,-6.0,0.0,-1.0,15.0,7.0,1550,1533.0,-17.0,0.0,-2.0,0.0,90.0,1.0,399.0,2,0.0,0.0,0.0,0.0,0.0
7422034,12,31,2,B6,N193JB,34100,PHL,30721,BOS,700,652.0,-8.0,0.0,-1.0,12.0,5.0,825,751.0,-34.0,0.0,-2.0,0.0,85.0,1.0,280.0,2,0.0,0.0,0.0,0.0,0.0
7422035,12,31,2,B6,N563JB,30721,BOS,34819,SJU,813,812.0,-1.0,0.0,-1.0,10.0,3.0,1315,1248.0,-27.0,0.0,-2.0,0.0,242.0,1.0,1674.0,7,0.0,0.0,0.0,0.0,0.0
7422036,12,31,2,B6,N907JB,34819,SJU,30721,BOS,429,431.0,2.0,0.0,0.0,10.0,10.0,738,722.0,-16.0,0.0,-2.0,0.0,249.0,1.0,1674.0,7,0.0,0.0,0.0,0.0,0.0

In [9]:
def val_freq(col='', df=df):
    i = 0
    for v in df[col].value_counts().sort_index():
        print("{} : {} records ({:.2f}%)" \
              .format(df[col].value_counts().sort_index().index[i], v,  v / len(df) * 100))
        i += 1

In [10]:
%%time

for col in df.columns:
    print(col, ':', df[col].nunique(), 'unique values')
    if df[col].nunique() < 50:
        val_freq(col)
    print("")

MONTH : 12 unique values
1 : 583985 records (7.87%)
2 : 533175 records (7.18%)
3 : 632074 records (8.52%)
4 : 612023 records (8.25%)
5 : 636390 records (8.57%)
6 : 636691 records (8.58%)
7 : 659029 records (8.88%)
8 : 658461 records (8.87%)
9 : 605979 records (8.16%)
10 : 636014 records (8.57%)
11 : 602453 records (8.12%)
12 : 625763 records (8.43%)

DAY_OF_MONTH : 31 unique values
1 : 240951 records (3.25%)
2 : 237619 records (3.20%)
3 : 242174 records (3.26%)
4 : 241829 records (3.26%)
5 : 238517 records (3.21%)
6 : 244304 records (3.29%)
7 : 243985 records (3.29%)
8 : 248962 records (3.35%)
9 : 240393 records (3.24%)
10 : 247271 records (3.33%)
11 : 249266 records (3.36%)
12 : 243253 records (3.28%)
13 : 245085 records (3.30%)
14 : 244813 records (3.30%)
15 : 249956 records (3.37%)
16 : 240931 records (3.25%)
17 : 246247 records (3.32%)
18 : 250135 records (3.37%)
19 : 244596 records (3.30%)
20 : 243522 records (3.28%)
21 : 247257 records (3.33%)
22 : 250716 records (3.38%)
23 : 242664 records (3.27%)
24 : 243636 records (3.28%)
25 : 244281 records (3.29%)
26 : 241239 records (3.25%)
27 : 243684 records (3.28%)
28 : 238574 records (3.21%)
29 : 222977 records (3.00%)
30 : 227169 records (3.06%)
31 : 136031 records (1.83%)

DAY_OF_WEEK : 7 unique values
1 : 1107285 records (14.92%)
2 : 1077957 records (14.52%)
3 : 1075379 records (14.49%)
4 : 1094899 records (14.75%)
5 : 1103049 records (14.86%)
6 : 906745 records (12.22%)
7 : 1056723 records (14.24%)

OP_UNIQUE_CARRIER : 17 unique values
9E : 257132 records (3.46%)
AA : 946776 records (12.76%)
AS : 264816 records (3.57%)
B6 : 297411 records (4.01%)
DL : 991986 records (13.37%)
EV : 134683 records (1.81%)
F9 : 135543 records (1.83%)
G4 : 105305 records (1.42%)
HA : 83891 records (1.13%)
MQ : 327007 records (4.41%)
NK : 204845 records (2.76%)
OH : 289304 records (3.90%)
OO : 836445 records (11.27%)
UA : 625910 records (8.43%)
WN : 1363946 records (18.38%)
YV : 227888 records (3.07%)
YX : 329149 records (4.43%)

TAIL_NUM : 5891 unique values

ORIGIN_CITY_MARKET_ID : 334 unique values

ORIGIN : 360 unique values

DEST_CITY_MARKET_ID : 334 unique values

DEST : 360 unique values

CRS_DEP_TIME : 1379 unique values

DEP_TIME : 1440 unique values

DEP_DELAY : 1594 unique values

DEP_DEL15 : 2 unique values
0.0 : 5929763 records (79.89%)
1.0 : 1362164 records (18.35%)

DEP_DELAY_GROUP : 15 unique values
-2.0 : 42214 records (0.57%)
-1.0 : 4348043 records (58.58%)
0.0 : 1539506 records (20.74%)
1.0 : 463530 records (6.25%)
2.0 : 248936 records (3.35%)
3.0 : 158793 records (2.14%)
4.0 : 109069 records (1.47%)
5.0 : 79147 records (1.07%)
6.0 : 59716 records (0.80%)
7.0 : 46286 records (0.62%)
8.0 : 35410 records (0.48%)
9.0 : 28094 records (0.38%)
10.0 : 22824 records (0.31%)
11.0 : 17946 records (0.24%)
12.0 : 92413 records (1.25%)

TAXI_OUT : 187 unique values

TAXI_IN : 216 unique values

CRS_ARR_TIME : 1436 unique values

ARR_TIME : 1440 unique values

ARR_DELAY : 1613 unique values

ARR_DEL15 : 2 unique values
0.0 : 5878979 records (79.21%)
1.0 : 1389253 records (18.72%)

ARR_DELAY_GROUP : 15 unique values
-2.0 : 1731785 records (23.33%)
-1.0 : 2899421 records (39.07%)
0.0 : 1247773 records (16.81%)
1.0 : 488865 records (6.59%)
2.0 : 255399 records (3.44%)
3.0 : 158323 records (2.13%)
4.0 : 108543 records (1.46%)
5.0 : 78334 records (1.06%)
6.0 : 58803 records (0.79%)
7.0 : 45627 records (0.61%)
8.0 : 35767 records (0.48%)
9.0 : 28047 records (0.38%)
10.0 : 22456 records (0.30%)
11.0 : 17956 records (0.24%)
12.0 : 91133 records (1.23%)

CANCELLED : 2 unique values
0.0 : 7287112 records (98.18%)
1.0 : 134925 records (1.82%)

CRS_ELAPSED_TIME : 576 unique values

FLIGHTS : 1 unique values
1.0 : 7422037 records (100.00%)

DISTANCE : 1575 unique values

DISTANCE_GROUP : 11 unique values
1 : 945726 records (12.74%)
2 : 1851489 records (24.95%)
3 : 1497088 records (20.17%)
4 : 1131143 records (15.24%)
5 : 771499 records (10.39%)
6 : 316405 records (4.26%)
7 : 311556 records (4.20%)
8 : 158599 records (2.14%)
9 : 110009 records (1.48%)
10 : 190535 records (2.57%)
11 : 137988 records (1.86%)

CARRIER_DELAY : 1432 unique values

WEATHER_DELAY : 1083 unique values

NAS_DELAY : 1049 unique values

SECURITY_DELAY : 227 unique values

LATE_AIRCRAFT_DELAY : 1059 unique values

Wall time: 33.4 s

In [11]:
# Since 'FLIGHTS' value is always 1, it does not add any information. let's just drop it:
df.drop('FLIGHTS', axis=1, inplace=True)

In [12]:
df.shape

(7422037, 30)

In [13]:
%memit

peak memory: 1996.74 MiB, increment: 0.00 MiB

In [14]:
# Focus on delayed flights:
delays = df[df['ARR_DEL15'] == 1]
delays

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,DEP_DELAY_GROUP,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,ARR_DELAY_GROUP,CANCELLED,CRS_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,3,4,9E,N195PQ,35412,TYS,30397,ATL,1140,1205.0,25.0,1.0,1.0,30.0,4.0,1250,1315.0,25.0,1.0,1.0,0.0,70.0,152.0,1,0.0,0.0,0.0,0.0,25.0
1,1,4,5,9E,N919XJ,35412,TYS,30397,ATL,1140,1250.0,70.0,1.0,4.0,35.0,9.0,1250,1412.0,82.0,1.0,5.0,0.0,70.0,152.0,1,0.0,0.0,12.0,0.0,70.0
8,1,11,5,9E,N135EV,30397,ATL,34783,SGF,950,945.0,-5.0,0.0,-1.0,33.0,24.0,1053,1113.0,20.0,1.0,1.0,0.0,123.0,563.0,3,0.0,0.0,20.0,0.0,0.0
12,1,15,2,9E,N917XJ,30397,ATL,34783,SGF,950,1043.0,53.0,1.0,3.0,14.0,5.0,1053,1136.0,43.0,1.0,2.0,0.0,123.0,563.0,3,11.0,0.0,0.0,0.0,32.0
16,1,19,6,9E,N937XJ,30397,ATL,34783,SGF,950,1001.0,11.0,0.0,0.0,40.0,5.0,1051,1113.0,22.0,1.0,1.0,0.0,121.0,563.0,3,0.0,0.0,11.0,0.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7421989,12,31,2,B6,N523JB,31454,MCO,34819,SJU,1428,1732.0,184.0,1.0,12.0,24.0,7.0,1815,2126.0,191.0,1.0,12.0,0.0,167.0,1189.0,5,184.0,0.0,7.0,0.0,0.0
7422004,12,31,2,B6,N198JB,30721,BOS,34492,RDU,1545,1619.0,34.0,1.0,2.0,16.0,6.0,1759,1821.0,22.0,1.0,1.0,0.0,134.0,612.0,3,8.0,0.0,0.0,0.0,14.0
7422009,12,31,2,B6,N603JB,34614,SLC,31454,MCO,2210,2231.0,21.0,1.0,1.0,29.0,5.0,417,438.0,21.0,1.0,1.0,0.0,247.0,1931.0,8,7.0,0.0,0.0,0.0,14.0
7422019,12,31,2,B6,N317JB,31454,MCO,30852,DCA,1853,1844.0,-9.0,0.0,-1.0,12.0,68.0,2100,2139.0,39.0,1.0,2.0,0.0,127.0,759.0,4,0.0,0.0,39.0,0.0,0.0
7422032,12,31,2,B6,N193JB,31454,MCO,31703,SWF,1356,1500.0,64.0,1.0,4.0,20.0,5.0,1639,1731.0,52.0,1.0,3.0,0.0,163.0,989.0,4,52.0,0.0,0.0,0.0,0.0

In [15]:
# Let's check now the main reasons behind delays:
causes = ['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']
delay_groups = delays.groupby('ARR_DEL15')[causes].agg(['count', 'median', 'mean', 'sum', 'max'])
# delay_groups.columns = ['_'.join(col).strip() for col in delay_groups.columns.values]
delay_groups.T.loc[:, 1].apply(lambda x: '%.0f' % x)

CARRIER_DELAY        count      1389253
                     median           0
                     mean            21
                     sum       29352960
                     max           2695
WEATHER_DELAY        count      1389253
                     median           0
                     mean             4
                     sum        5282501
                     max           1847
NAS_DELAY            count      1389253
                     median           2
                     mean            17
                     sum       23044854
                     max           1741
SECURITY_DELAY       count      1389253
                     median           0
                     mean             0
                     sum         133484
                     max           1078
LATE_AIRCRAFT_DELAY  count      1389253
                     median           3
                     mean            27
                     sum       38075922
                     max           2206
Name: 1.0, dtype: object

There are some missing values. Let's further delve into it:

In [16]:
%%time

# Absolute & Relative frequency of missing values by column:
pd.set_option('display.max_rows', df.shape[1])
missing = pd.DataFrame([df.isna().sum(), df.isna().sum() / len(df) * 100], index=['Absolute', 'Relative']).T.sort_values(by='Relative', ascending=False)
missing

Wall time: 3.74 s

                       Absolute  Relative
ARR_DELAY              153805.0  2.072275
ARR_DEL15              153805.0  2.072275
ARR_DELAY_GROUP        153805.0  2.072275
TAXI_IN                137647.0  1.854572
ARR_TIME               137646.0  1.854558
TAXI_OUT               133977.0  1.805124
DEP_DELAY              130110.0  1.753023
DEP_DEL15              130110.0  1.753023
DEP_DELAY_GROUP        130110.0  1.753023
DEP_TIME               130086.0  1.752699
TAIL_NUM                17837.0  0.240325
CRS_ELAPSED_TIME          135.0  0.001819
WEATHER_DELAY               0.0  0.000000
CARRIER_DELAY               0.0  0.000000
DISTANCE_GROUP              0.0  0.000000
DISTANCE                    0.0  0.000000
NAS_DELAY                   0.0  0.000000
CANCELLED                   0.0  0.000000
SECURITY_DELAY              0.0  0.000000
MONTH                       0.0  0.000000
CRS_ARR_TIME                0.0  0.000000
DAY_OF_MONTH                0.0  0.000000
CRS_DEP_TIME                0.0  0.000000
DEST                        0.0  0.000000
DEST_CITY_MARKET_ID         0.0  0.000000
ORIGIN                      0.0  0.000000
ORIGIN_CITY_MARKET_ID       0.0  0.000000
OP_UNIQUE_CARRIER           0.0  0.000000
DAY_OF_WEEK                 0.0  0.000000
LATE_AIRCRAFT_DELAY         0.0  0.000000

In [17]:
# Show which columns present more than 5% of missing data:
empty_df = missing[missing['Relative'] > 5]
empty_df

Empty DataFrame
Columns: [Absolute, Relative]
Index: []

%%time

# Drop every column with more than 90% of missing values:
empty90_df = missing[missing['Relative'] > 90]
empty90_df_cols = empty90_df.index.to_list()
df = df.drop(empty90_df_cols, axis=1)
df.shape

%%time

# CHECK AGAIN after dropping the (almost)empty columns.
# Absolute & Relative frequency of missing values by column:
pd.set_option('display.max_rows', 110) # It greatly slows down the output display and freezes the kernel
missing = pd.DataFrame([df.isna().sum(), df.isna().sum() / len(df) * 100], index=['Absolute', 'Relative']).T.sort_values(by='Relative', ascending=False)
missing

# CHECK AGAIN after manipulating the missing data.
# Show which columns present more than 5% of missing data:
empty_df = missing[missing['Relative'] > 5]
empty_df

%%time

empty_df_cols = empty_df.index.to_list()
df[empty_df_cols] = df[empty_df_cols].fillna(value=0)

In [18]:
%memit

peak memory: 2358.12 MiB, increment: 0.00 MiB

In [19]:
isolated_elements_missing = missing.loc[(missing['Relative'] < 5) & (missing['Relative'] > 0)]
isolated_elements_missing

                  Absolute  Relative
ARR_DELAY         153805.0  2.072275
ARR_DEL15         153805.0  2.072275
ARR_DELAY_GROUP   153805.0  2.072275
TAXI_IN           137647.0  1.854572
ARR_TIME          137646.0  1.854558
TAXI_OUT          133977.0  1.805124
DEP_DELAY         130110.0  1.753023
DEP_DEL15         130110.0  1.753023
DEP_DELAY_GROUP   130110.0  1.753023
DEP_TIME          130086.0  1.752699
TAIL_NUM           17837.0  0.240325
CRS_ELAPSED_TIME     135.0  0.001819

In [20]:
%%time

# Quick approach â†’ check how many rows contain empty values to see if directly dropping them would be feasible:

# Check which rows have at least 1 NaN:
df[df.isna().any(axis=1)]

Wall time: 1.74 s

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,DEP_DELAY_GROUP,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,ARR_DELAY_GROUP,CANCELLED,CRS_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
26,1,29,2,9E,N931XJ,30397,ATL,34783,SGF,950,NaN,NaN,NaN,NaN,NaN,NaN,1053,NaN,NaN,NaN,NaN,1.0,123.0,563.0,3,0.0,0.0,0.0,0.0,0.0
53,1,29,2,9E,N931XJ,34783,SGF,30397,ATL,1128,NaN,NaN,NaN,NaN,NaN,NaN,1420,NaN,NaN,NaN,NaN,1.0,112.0,563.0,3,0.0,0.0,0.0,0.0,0.0
142,1,20,7,9E,N934XJ,31703,LGA,30785,BTV,1420,NaN,NaN,NaN,NaN,NaN,NaN,1545,NaN,NaN,NaN,NaN,1.0,85.0,258.0,2,0.0,0.0,0.0,0.0,0.0
298,1,24,4,9E,N930XJ,31703,LGA,30785,BTV,2159,NaN,NaN,NaN,NaN,NaN,NaN,2321,NaN,NaN,NaN,NaN,1.0,82.0,258.0,2,0.0,0.0,0.0,0.0,0.0
406,1,22,2,9E,N929XJ,31295,DTW,30785,BTV,2020,NaN,NaN,NaN,NaN,NaN,NaN,2218,NaN,NaN,NaN,NaN,1.0,118.0,537.0,3,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7419670,12,18,3,B6,N348JB,31703,EWR,30721,BOS,2104,NaN,NaN,NaN,NaN,NaN,NaN,2216,NaN,NaN,NaN,NaN,1.0,72.0,200.0,1,0.0,0.0,0.0,0.0,0.0
7419672,12,18,3,B6,N329JB,34492,RDU,30721,BOS,530,NaN,NaN,NaN,NaN,NaN,NaN,723,NaN,NaN,NaN,NaN,1.0,113.0,612.0,3,0.0,0.0,0.0,0.0,0.0
7419848,12,19,4,B6,N306JB,35096,SYR,30721,BOS,530,NaN,NaN,NaN,NaN,NaN,NaN,651,NaN,NaN,NaN,NaN,1.0,81.0,265.0,2,0.0,0.0,0.0,0.0,0.0
7420968,12,30,1,B6,N579JB,30721,BOS,34027,PBI,1936,2057.0,81.0,1.0,5.0,53.0,NaN,2303,NaN,NaN,NaN,NaN,0.0,207.0,1197.0,5,0.0,0.0,0.0,0.0,0.0
7421126,12,30,1,B6,N266JB,33933,ORH,31703,JFK,600,551.0,-9.0,0.0,-1.0,NaN,NaN,700,NaN,NaN,NaN,NaN,1.0,60.0,150.0,1,0.0,0.0,0.0,0.0,0.0

In [21]:
%%time

# DF's length as is:
original_length = len(df)
print('Original dataset length:\t', original_length)

# Check how many rows have at least 1 NaN:
manipulated_length = len(df.drop(df[df.isna().any(axis=1)].index, axis=0))
print('Manipulated dataset length:\t', manipulated_length)

# Dropped rows, absolute and relative number:
print('{} rows deleted, accounting for {:.2f}% of the original dataset.'.format(original_length - manipulated_length, (original_length - manipulated_length) / original_length * 100))

Original dataset length:	 7422037
Manipulated dataset length:	 7268232
153805 rows deleted, accounting for 2.07% of the original dataset.
Wall time: 3.3 s

Considering that it is only ~2% of the data, and that the dataset is big enough, let's just simply drop those rows as a quick  cleaning method.

In [22]:
%%time

df = df.drop(df[df.isna().any(axis=1)].index, axis=0)
df

Wall time: 3.19 s

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,DEP_DELAY_GROUP,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,ARR_DELAY_GROUP,CANCELLED,CRS_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,3,4,9E,N195PQ,35412,TYS,30397,ATL,1140,1205.0,25.0,1.0,1.0,30.0,4.0,1250,1315.0,25.0,1.0,1.0,0.0,70.0,152.0,1,0.0,0.0,0.0,0.0,25.0
1,1,4,5,9E,N919XJ,35412,TYS,30397,ATL,1140,1250.0,70.0,1.0,4.0,35.0,9.0,1250,1412.0,82.0,1.0,5.0,0.0,70.0,152.0,1,0.0,0.0,12.0,0.0,70.0
2,1,5,6,9E,N316PQ,30397,ATL,34783,SGF,950,956.0,6.0,0.0,0.0,20.0,3.0,1051,1043.0,-8.0,0.0,-1.0,0.0,121.0,563.0,3,0.0,0.0,0.0,0.0,0.0
3,1,6,7,9E,N325PQ,30397,ATL,34783,SGF,950,945.0,-5.0,0.0,-1.0,16.0,3.0,1053,1029.0,-24.0,0.0,-2.0,0.0,123.0,563.0,3,0.0,0.0,0.0,0.0,0.0
4,1,7,1,9E,N904XJ,30397,ATL,34783,SGF,950,947.0,-3.0,0.0,-1.0,25.0,4.0,1053,1044.0,-9.0,0.0,-1.0,0.0,123.0,563.0,3,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7422032,12,31,2,B6,N193JB,31454,MCO,31703,SWF,1356,1500.0,64.0,1.0,4.0,20.0,5.0,1639,1731.0,52.0,1.0,3.0,0.0,163.0,989.0,4,52.0,0.0,0.0,0.0,0.0
7422033,12,31,2,B6,N304JB,30852,DCA,30721,BOS,1420,1414.0,-6.0,0.0,-1.0,15.0,7.0,1550,1533.0,-17.0,0.0,-2.0,0.0,90.0,399.0,2,0.0,0.0,0.0,0.0,0.0
7422034,12,31,2,B6,N193JB,34100,PHL,30721,BOS,700,652.0,-8.0,0.0,-1.0,12.0,5.0,825,751.0,-34.0,0.0,-2.0,0.0,85.0,280.0,2,0.0,0.0,0.0,0.0,0.0
7422035,12,31,2,B6,N563JB,30721,BOS,34819,SJU,813,812.0,-1.0,0.0,-1.0,10.0,3.0,1315,1248.0,-27.0,0.0,-2.0,0.0,242.0,1674.0,7,0.0,0.0,0.0,0.0,0.0
7422036,12,31,2,B6,N907JB,34819,SJU,30721,BOS,429,431.0,2.0,0.0,0.0,10.0,10.0,738,722.0,-16.0,0.0,-2.0,0.0,249.0,1674.0,7,0.0,0.0,0.0,0.0,0.0

In [23]:
%%time

# CHECK AGAIN after manipulating the missing data.
# Absolute & Relative frequency of missing values by column:
pd.set_option('display.max_rows', 110) # It greatly slows down the output display and freezes the kernel
missing_2 = pd.DataFrame([df.isna().sum(), df.isna().sum() / len(df) * 100], index=['Absolute', 'Relative']).T.sort_values(by='Relative', ascending=False)
missing_2

Wall time: 7.6 s

                       Absolute  Relative
MONTH                       0.0       0.0
DAY_OF_MONTH                0.0       0.0
SECURITY_DELAY              0.0       0.0
NAS_DELAY                   0.0       0.0
WEATHER_DELAY               0.0       0.0
CARRIER_DELAY               0.0       0.0
DISTANCE_GROUP              0.0       0.0
DISTANCE                    0.0       0.0
CRS_ELAPSED_TIME            0.0       0.0
CANCELLED                   0.0       0.0
ARR_DELAY_GROUP             0.0       0.0
ARR_DEL15                   0.0       0.0
ARR_DELAY                   0.0       0.0
ARR_TIME                    0.0       0.0
CRS_ARR_TIME                0.0       0.0
TAXI_IN                     0.0       0.0
TAXI_OUT                    0.0       0.0
DEP_DELAY_GROUP             0.0       0.0
DEP_DEL15                   0.0       0.0
DEP_DELAY                   0.0       0.0
DEP_TIME                    0.0       0.0
CRS_DEP_TIME                0.0       0.0
DEST                        0.0       0.0
DEST_CITY_MARKET_ID         0.0       0.0
ORIGIN                      0.0       0.0
ORIGIN_CITY_MARKET_ID       0.0       0.0
TAIL_NUM                    0.0       0.0
OP_UNIQUE_CARRIER           0.0       0.0
DAY_OF_WEEK                 0.0       0.0
LATE_AIRCRAFT_DELAY         0.0       0.0

In [24]:
# 'TAXI_OUT' time is not an input, since there is no way to predict its actual value in advance.
# However, there is indeed some prior knowledge about it, based on past data concerning to operations on each airport.
# Each carrier may optimize its airport operations in a different manner, thus leading to average differences between them.
# Therefore, let's see whether some value could be used as a baseline for each pair and hence use it as an input feature.

DepDel_TaxOutTim = df.groupby(['ORIGIN', 'OP_UNIQUE_CARRIER'])[['TAXI_OUT', 'DEP_DELAY']] \
                     .agg({'TAXI_OUT' : ['count', 'mean', 'median', 'min', 'max'],
                           'DEP_DELAY' : ['mean', 'median', 'min', 'max']})
DepDel_TaxOutTim

                         TAXI_OUT                                DEP_DELAY  \
                            count       mean median  min    max       mean
ORIGIN OP_UNIQUE_CARRIER
ABE    9E                     626  16.915335   14.0  6.0  114.0   7.865815
       DL                     326  18.377301   14.0  7.0  112.0   1.638037
       EV                     137  18.518248   15.0  5.0   82.0  27.401460
       G4                    1142  10.722417   10.0  5.0   83.0  10.619965
       MQ                     509  14.290766   12.0  5.0   85.0  11.618861
...                           ...        ...    ...  ...    ...        ...
XNA    YX                    1751  18.055397   15.0  4.0  141.0  14.347230
XWA    OO                     204  26.769608   19.0  7.0   95.0  31.995098
YAK    AS                     694  10.207493    9.0  2.0   45.0  -6.237752
YUM    OO                    1556  14.491645   13.0  2.0   87.0   3.267995
       YV                     353  13.070822   12.0  4.0   36.0  10.467422


                         median   min     max
ORIGIN OP_UNIQUE_CARRIER
ABE    9E                  -3.0 -18.0   360.0
       DL                  -3.0 -13.0   150.0
       EV                  -4.0 -19.0   382.0
       G4                  -5.0 -32.0  1855.0
       MQ                  -6.0 -14.0   739.0
...                         ...   ...     ...
XNA    YX                  -4.0 -22.0   505.0
XWA    OO                   0.0 -21.0   897.0
YAK    AS                 -12.0 -56.0   212.0
YUM    OO                  -6.0 -24.0   640.0
       YV                  -3.0 -18.0   526.0

[1977 rows x 9 columns]

In [25]:
# As a means of checking whether the median could be taken as an input, let's first verify how much variance there is for
# each particular airport/carrier pair, as well as how far are the extreme values.

Dep_relative_diff = DepDel_TaxOutTim.loc[:, ('TAXI_OUT', 'mean')] / DepDel_TaxOutTim.loc[:, ('TAXI_OUT', 'median')]
Dep_relative_diff.describe()

# Based on the results, it is observed that the median is commonly close to the mean for each pair.
# In cases where this assumption is not satisfied, it is normally due to outliers.
# These extreme values significantly move the means to the right, but are not representative in general.

# In a nutshell, it is fair to assume that each airport/carrier median is a ground baseline value for an input feature.

count    1977.000000
mean        1.169532
std         0.106970
min         0.877193
25%         1.108320
50%         1.157459
75%         1.218919
max         3.977778
dtype: float64

In [37]:
# df.loc[(df['ORIGIN'] == 'ABE') & (df['OP_UNIQUE_CARRIER'] == '9E'), 'TAXI_OUT_median'] \
#  = DepDel_TaxOutTim.loc[('ABE', '9E'), ('TAXI_OUT', 'median')]
df.loc[(df['ORIGIN'] == 'ABE')]

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,DEP_DELAY_GROUP,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,ARR_DELAY_GROUP,CANCELLED,CRS_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TAXI_OUT_median
11088,1,12,6,G4,224NV,30135,ABE,32467,FLL,1941,1941.0,0.0,0.0,0.0,8.0,4.0,2230,2221.0,-9.0,0.0,-1.0,0.0,169.0,1041.0,5,0.0,0.0,0.0,0.0,0.0,NaN
11149,1,16,3,G4,256NV,30135,ABE,34761,SFB,1550,1544.0,-6.0,0.0,-1.0,16.0,7.0,1820,1801.0,-19.0,0.0,-2.0,0.0,150.0,882.0,4,0.0,0.0,0.0,0.0,0.0,NaN
11161,1,22,2,G4,254NV,30135,ABE,34761,SFB,1108,1102.0,-6.0,0.0,-1.0,8.0,5.0,1338,1321.0,-17.0,0.0,-2.0,0.0,150.0,882.0,4,0.0,0.0,0.0,0.0,0.0,NaN
11184,1,25,5,G4,335NV,30135,ABE,34761,SFB,1536,1534.0,-2.0,0.0,-1.0,13.0,7.0,1806,1815.0,9.0,0.0,0.0,0.0,150.0,882.0,4,0.0,0.0,0.0,0.0,0.0,NaN
11362,1,3,4,G4,274NV,30135,ABE,33195,PIE,1452,1443.0,-9.0,0.0,-1.0,8.0,7.0,1730,1716.0,-14.0,0.0,-1.0,0.0,158.0,970.0,4,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7403097,12,29,7,9E,N604LR,30135,ABE,30397,ATL,1800,1800.0,0.0,0.0,0.0,8.0,11.0,2027,2015.0,-12.0,0.0,-1.0,0.0,147.0,692.0,3,0.0,0.0,0.0,0.0,0.0,14.0
7403098,12,30,1,9E,N325PQ,30135,ABE,30397,ATL,1800,1800.0,0.0,0.0,0.0,12.0,16.0,2027,2024.0,-3.0,0.0,-1.0,0.0,147.0,692.0,3,0.0,0.0,0.0,0.0,0.0,14.0
7406800,12,1,7,OO,N438SW,30135,ABE,31295,DTW,1230,1304.0,34.0,1.0,2.0,50.0,7.0,1422,1516.0,54.0,1.0,3.0,0.0,112.0,425.0,2,0.0,34.0,20.0,0.0,0.0,NaN
7406826,12,1,7,OO,N427SW,30135,ABE,31295,DTW,555,600.0,5.0,0.0,0.0,14.0,8.0,750,737.0,-13.0,0.0,-1.0,0.0,115.0,425.0,2,0.0,0.0,0.0,0.0,0.0,NaN
7406830,12,1,7,OO,N454SW,30135,ABE,31295,DTW,1751,1829.0,38.0,1.0,2.0,47.0,19.0,1949,2050.0,61.0,1.0,4.0,0.0,118.0,425.0,2,0.0,38.0,23.0,0.0,0.0,NaN

In [ ]:
for i in DepDel_TaxOutTim.index:
    df.loc[(df['ORIGIN'] == i[0]) & (df['OP_UNIQUE_CARRIER'] == i[1]), 'TAXI_OUT_median'] \
         = DepDel_TaxOutTim.loc[(i[0], i[1]), ('TAXI_OUT', 'median')]

In [52]:
# Similarly to what happens with 'TAXI_OUT', 'TAXI_IN' time is not an input, (unpredictable actual value in advance).
# However, the Arrival times dynamic follow the same commonalities as assumed for Departure.
# Therefore, let's proceed likewise and check the results.

TaxInTim_ArrDel = df.groupby(['DEST', 'OP_UNIQUE_CARRIER'])[['TAXI_IN', 'ARR_DELAY']] \
                     .agg({'TAXI_IN' : ['count', 'mean', 'median', 'min', 'max'],
                           'ARR_DELAY' : ['mean', 'median', 'min', 'max']})
TaxInTim_ArrDel

                       TAXI_IN                              ARR_DELAY         \
                         count      mean median  min   max       mean median
DEST OP_UNIQUE_CARRIER
ABE  9E                    629  5.076312    4.0  2.0  28.0  -0.233704  -10.0
     DL                    326  4.542945    4.0  2.0  14.0  -1.368098  -11.5
     EV                    137  4.832117    5.0  2.0  17.0  38.649635    7.0
     G4                   1145  5.524017    5.0  4.0  75.0   1.863755   -7.0
     MQ                    512  4.285156    4.0  1.0  40.0   6.503906   -7.0
...                        ...       ...    ...  ...   ...        ...    ...
XNA  YX                   1767  7.233729    6.0  2.0  88.0   3.688738   -7.0
XWA  OO                    202  6.331683    5.0  1.0  36.0  -2.995050  -15.0
YAK  AS                    697  4.173601    4.0  2.0  33.0  -0.256815   -6.0
YUM  OO                   1553  4.046362    3.0  2.0  27.0   4.652930   -5.0
     YV                    353  3.929178    4.0  1.0  16.0  11.549575   -1.0


                         min     max
DEST OP_UNIQUE_CARRIER
ABE  9E                -37.0   461.0
     DL                -34.0   465.0
     EV                -29.0   355.0
     G4                -37.0   555.0
     MQ                -37.0   597.0
...                      ...     ...
XNA  YX                -57.0   736.0
XWA  OO                -47.0   369.0
YAK  AS                -47.0   232.0
YUM  OO                -36.0  1218.0
     YV                -22.0   825.0

[1976 rows x 9 columns]

In [53]:
# Similarly to what has been done for Departure:

Arr_relative_diff = TaxInTim_ArrDel.loc[:, ('TAXI_IN', 'mean')] / TaxInTim_ArrDel.loc[:, ('TAXI_IN', 'median')]
Arr_relative_diff.describe()

# Once again, it is observed that the median is commonly close to the mean for each pair.

# Therefore, it is fair to assume that each airport/carrier median is a ground baseline value for an input feature.

count    1976.000000
mean        1.152699
std         0.149455
min         0.838818
25%         1.057349
50%         1.128030
75%         1.216900
max         2.904865
dtype: float64

Great. Now the dataset is totally free of missing values.

Let's store the recently cleaned dataset in a CSV.

#### Run only the first time to generate the global CLEAN file (year 2019)

output_csv_path = os.path.join(root,
                               "Output_Data",
                               "US_DoT",
                               "AL_OTP_MVP_Preprocessed_19_v2_clean.csv")
output_csv_path

%%time

# Wall time: 5min 31s

df.to_csv(path_or_buf=output_csv_path,
          index=False,
          encoding='latin1')

___

### Section left for later iterations to clean the CSV

In [ ]:
int_cols = [
# Time Period
 'YEAR',
#  'QUARTER', # Disregarded: redundant
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
#  'FL_DATE', # Disregarded: redundant
# Airline / Aircraft
 'OP_UNIQUE_CARRIER',
 'OP_CARRIER_AIRLINE_ID',
 'OP_CARRIER',
 'TAIL_NUM',
 'OP_CARRIER_FL_NUM',
# Origin
 'ORIGIN_AIRPORT_ID',
 'ORIGIN_AIRPORT_SEQ_ID',
 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'ORIGIN_STATE_FIPS',
 'ORIGIN_STATE_NM',
 'ORIGIN_WAC',
# Destination
 'DEST_AIRPORT_ID',
 'DEST_AIRPORT_SEQ_ID',
 'DEST_CITY_MARKET_ID',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_FIPS',
 'DEST_STATE_NM',
 'DEST_WAC',
# Departure Performance
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
 'DEP_DELAY_GROUP',
 'DEP_TIME_BLK',
 'TAXI_OUT',
 'WHEELS_OFF',
# Arrival Performance
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'ARR_DEL15',
 'ARR_DELAY_GROUP',
 'ARR_TIME_BLK',
# Cancellations and Diversions
 'CANCELLED',
 'CANCELLATION_CODE',
 'DIVERTED',
# Flight Summaries
 'CRS_ELAPSED_TIME',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'FLIGHTS',
 'DISTANCE',
 'DISTANCE_GROUP',
# Cause of Delay
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY',
# Gate Return Information at Origin Airport (Data starts 10/2008)
 'FIRST_DEP_TIME',
 'TOTAL_ADD_GTIME',
 'LONGEST_ADD_GTIME',
# Diverted Airport Information (Data starts 10/2008)
 'DIV_AIRPORT_LANDINGS',
 'DIV_REACHED_DEST',
 'DIV_ACTUAL_ELAPSED_TIME',
 'DIV_ARR_DELAY',
 'DIV_DISTANCE',
 'DIV1_AIRPORT',
 'DIV1_AIRPORT_ID',
 'DIV1_AIRPORT_SEQ_ID',
 'DIV1_WHEELS_ON',
 'DIV1_TOTAL_GTIME',
 'DIV1_LONGEST_GTIME',
 'DIV1_WHEELS_OFF',
 'DIV1_TAIL_NUM',
 'DIV2_AIRPORT',
 'DIV2_AIRPORT_ID',
 'DIV2_AIRPORT_SEQ_ID',
 'DIV2_WHEELS_ON',
 'DIV2_TOTAL_GTIME',
 'DIV2_LONGEST_GTIME',
 'DIV2_WHEELS_OFF',
 'DIV2_TAIL_NUM',
 'DIV3_AIRPORT',
 'DIV3_AIRPORT_ID',
 'DIV3_AIRPORT_SEQ_ID',
 'DIV3_WHEELS_ON',
 'DIV3_TOTAL_GTIME',
 'DIV3_LONGEST_GTIME',
 'DIV3_WHEELS_OFF',
 'DIV3_TAIL_NUM',
 'DIV4_AIRPORT',
 'DIV4_AIRPORT_ID',
 'DIV4_AIRPORT_SEQ_ID',
 'DIV4_WHEELS_ON',
 'DIV4_TOTAL_GTIME',
 'DIV4_LONGEST_GTIME',
 'DIV4_WHEELS_OFF',
 'DIV4_TAIL_NUM',
 'DIV5_AIRPORT',
 'DIV5_AIRPORT_ID',
 'DIV5_AIRPORT_SEQ_ID',
 'DIV5_WHEELS_ON',
 'DIV5_TOTAL_GTIME',
 'DIV5_LONGEST_GTIME',
 'DIV5_WHEELS_OFF',
 'DIV5_TAIL_NUM'
]

In [ ]:
print("{} columns kept from a total of {}.".format(len(int_cols), len(cols)))

Additional information on each column meaning can be found [here](https://www.transtats.bts.gov/Fields.asp?Table_ID=236&SYS_Table_Name=T_ONTIME_REPORTING&User_Table_Name=Reporting%20Carrier%20On-Time%20Performance%20(1987-present)&Year_Info=1&First_Year=1987&Last_Year=2020&Rate_Info=0&Frequency=Monthly&Data_Frequency=Annual,Quarterly,Monthly).

___

# 3. Explore the data

## Plots

In [ ]:
cols = [
 'YEAR',
 'QUARTER',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
#  'FL_DATE',
#  'OP_UNIQUE_CARRIER',
#  'OP_CARRIER_AIRLINE_ID',
#  'OP_CARRIER',
#  'TAIL_NUM',
#  'OP_CARRIER_FL_NUM',
#  'ORIGIN_AIRPORT_ID',
#  'ORIGIN_AIRPORT_SEQ_ID',
#  'ORIGIN_CITY_MARKET_ID',
#  'ORIGIN',
#  'ORIGIN_CITY_NAME',
#  'ORIGIN_STATE_ABR',
#  'ORIGIN_STATE_FIPS',
#  'ORIGIN_STATE_NM',
#  'ORIGIN_WAC',
#  'DEST_AIRPORT_ID',
#  'DEST_AIRPORT_SEQ_ID',
#  'DEST_CITY_MARKET_ID',
#  'DEST',
#  'DEST_CITY_NAME',
#  'DEST_STATE_ABR',
#  'DEST_STATE_FIPS',
#  'DEST_STATE_NM',
#  'DEST_WAC',
#  'CRS_DEP_TIME',
#  'DEP_TIME',
 'DEP_DELAY',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
#  'DEP_DELAY_GROUP',
#  'DEP_TIME_BLK',
 'TAXI_OUT',
#  'WHEELS_OFF',
#  'WHEELS_ON',
 'TAXI_IN',
#  'CRS_ARR_TIME',
#  'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'ARR_DEL15',
#  'ARR_DELAY_GROUP',
#  'ARR_TIME_BLK',
 'CANCELLED',
 'CANCELLATION_CODE',
 'DIVERTED',
#  'CRS_ELAPSED_TIME',
#  'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'FLIGHTS',
 'DISTANCE',
#  'DISTANCE_GROUP',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY',
#  'FIRST_DEP_TIME',
#  'TOTAL_ADD_GTIME',
#  'LONGEST_ADD_GTIME',
#  'DIV_AIRPORT_LANDINGS',
#  'DIV_REACHED_DEST',
#  'DIV_ACTUAL_ELAPSED_TIME',
 'DIV_ARR_DELAY',
 'DIV_DISTANCE',
#  'DIV1_AIRPORT',
#  'DIV1_AIRPORT_ID',
#  'DIV1_AIRPORT_SEQ_ID',
#  'DIV1_WHEELS_ON',
#  'DIV1_TOTAL_GTIME',
#  'DIV1_LONGEST_GTIME',
#  'DIV1_WHEELS_OFF',
#  'DIV1_TAIL_NUM',
#  'DIV2_AIRPORT',
#  'DIV2_AIRPORT_ID',
#  'DIV2_AIRPORT_SEQ_ID',
#  'DIV2_WHEELS_ON',
#  'DIV2_TOTAL_GTIME',
#  'DIV2_LONGEST_GTIME',
#  'DIV2_WHEELS_OFF',
#  'DIV2_TAIL_NUM',
#  'DIV3_AIRPORT',
#  'DIV3_AIRPORT_ID',
#  'DIV3_AIRPORT_SEQ_ID',
#  'DIV3_WHEELS_ON',
#  'DIV3_TOTAL_GTIME',
#  'DIV3_LONGEST_GTIME',
#  'DIV3_WHEELS_OFF',
#  'DIV3_TAIL_NUM',
#  'DIV4_AIRPORT',
#  'DIV4_AIRPORT_ID',
#  'DIV4_AIRPORT_SEQ_ID',
#  'DIV4_WHEELS_ON',
#  'DIV4_TOTAL_GTIME',
#  'DIV4_LONGEST_GTIME',
#  'DIV4_WHEELS_OFF',
#  'DIV4_TAIL_NUM',
#  'DIV5_AIRPORT',
#  'DIV5_AIRPORT_ID',
#  'DIV5_AIRPORT_SEQ_ID',
#  'DIV5_WHEELS_ON',
#  'DIV5_TOTAL_GTIME',
#  'DIV5_LONGEST_GTIME',
#  'DIV5_WHEELS_OFF',
#  'DIV5_TAIL_NUM'
]

In [ ]:
df0 = df0[cols]
df0

In [ ]:
output_csv_path = os.path.join(root,
                               "Output_Data",
                               "US_DoT",
                               "AL_OTP_MVP_Preprocessed.csv")
output_csv_path

In [ ]:
%%time

df0.to_csv(path_or_buf=output_csv_path,
           index=False,
           encoding='latin1')

In [ ]:
t1 = time.perf_counter()  - t0
print("Time elapsed: ", t1) # CPU seconds elapsed (floating point)

# 5. Communicate and visualize the results

___